<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="" class="navbar-brand">Formation Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="nav navbar-nav">
           <li *ngFor="let tab of tabs"><a class="nav-link item"  
            routerLink="/{{tab.path}}" routerLinkActive="active">{{tab.title}}</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>